<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scnu.able.myapp.dao.MemberChangeMapper">

    <select id="getOldMemberByOldMemIdx" resultType="scnu.able.myapp.vo.member.OldMember">
        select * from oldmember where memIdx = #{oldMemIdx}
    </select>

    <delete id="oldMemDelete">
        delete from oldmember where memIdx = #{oldMemIdx}
    </delete>

    <delete id="memDelete">
        delete from member where memIdx = #{MemIdx}
    </delete>

    <insert id="oldMemJoin" parameterType="scnu.able.myapp.vo.member.OldMember">
        insert into oldmember(memID, memPassword, memName, memAge, memEmail, memProfile) VALUES (#{memID}, #{memPassword}, #{memName}, #{memAge}, #{memEmail}, #{memProfile})

    </insert>
</mapper>